.heading
{
    width: 100%;
    text-align: left;
}

.heading h3{
    text-align: center;
}

.heading button{
    float: right;
    border: 2px solid orange;
    color: blue;
}

.big_image
{
    width: 100%;
}

#start ,#Status
{
    font-size: 22px;
}

h4
{
    background-color: black;
    line-height: 2;
    margin: 0px;
    color: grey;
}
.modal-dialog
{
   width: 90%;
}

.Instructions_image
{
    display: inline-block;
    width: 45%;
}

.copy_right_footer {
    position: fixed;
    color: lightblue;
    bottom: 0;
    width: 100%;
    background-color: blue;
    line-height: 2;
    text-align: center;
}

canvas 
  {
      border:3px solid orange;
      border-radius: 20px;
      box-shadow:  5px 5px 5px blue;
  }